
body{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
}
header,
nav,
main,
aside,
footer{
    background-color:#EFF5F5;
    border: 2px;
}
header,
.nav,
footer{
    width: 1024px;
}
header{
    height: 150px;
}
main{
    width: 800px;
}
aside, nav{
    width: 220px;
}
.img1{
    height: 100px;
    width: 100px;
}
.img2{
    height: 200px;
    width: 300px;
    border:4px solid #0008C1;
    margin: auto;
    display: block;
}
.img3{
    height: 160px;
    width: 160px;
    border-radius: 8px;

}
h1, .img1{
    float: left;
}
h1{
    font-size: 40px;
    color:#0008C1;
}
h2{
    font-size: 30px;
    clear: both;
  text-align: center;
}
.nav{
 background-color:#5F9DF7 ;
 height: 30px;
 font-size: 18px;
 display: flex;
 align-items: center;
}
.nav a{
    text-decoration: none;
 color: #fff;
 padding: 0 10px;
}
.nav a:hover{
 background-color: #0008C1;
}
aside{
    border: 2px solid #fff;
}
nav, h3{
    color: #0008C1;
    text-align: center;
    font-size: 20px;
}
.h2{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
p{
   font-size: 20px;
   text-align: center;
}
footer {
    border: #5F9DF7;
    background-color: #5F9DF7;
    padding: 0 10px;
    display: flex;
 align-items: center;
 flex-direction: column;
}
.subir{
    height: 30px;
    width: 80px;
    border: 2px solid #0008C1;
    border-radius: 6px;
    background-color: #5F9DF7;
    font-size: 20px;
   text-align: center;
}
